# Build output
build/

# Visual Studio / MSVC
.vs/
*.vcxproj
*.vcxproj.*
*.sln
*.suo
*.user
*.sdf
*.opensdf
*.db
*.opendb
ipch/
Debug/
Release/
x64/
x86/

# VS Code
.vscode/

# OS
Thumbs.db
desktop.ini
.DS_Store
